.video {
  position: relative;
  border: 1px solid rgb(18, 181, 245);
  border-radius: 3%;
  background-color: rgb(138, 22, 2);
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.video__player {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
